<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:a21b-2a00-23c7-8ec3-2401-dc5c-f19a-9b0c-c58.ngrok-free.app</string>
	</array>
</dict>
</plist>
