<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeaderView</key>
	<dict>
		<key>imageName</key>
		<string>example_logo</string>
	</dict>
	<key>fontName</key>
	<string>IBMPlexMono</string>
	<key>ActionableButton.Primary</key>
	<dict>
		<key>backgroundColorName</key>
		<string>Primary</string>
		<key>minHeight</key>
		<integer>48</integer>
		<key>textAppearance</key>
		<string>TextAppearance.Body.Bold</string>
	</dict>
	<key>TextAppearance.Body.Bold</key>
	<dict>
		<key>fontStyleName</key>
		<string>UICTFontTextStyleBody</string>
		<key>fontSymbolicTrait</key>
		<string>traitBold</string>
		<key>textAlignment</key>
		<string>right</string>
	</dict>
	<key>ActionableButton.LinkView</key>
	<dict>
		<key>textColorName</key>
		<string>Secondary</string>
		<key>textAppearance</key>
		<string>TextAppearance.Link</string>
		<key>backgroundColorName</key>
		<string>ViewBackground</string>
	</dict>
	<key>TextAppearance.Link</key>
	<dict>
		<key>fontStyleName</key>
		<string>UICTFontTextStyleLink</string>
		<key>fontSymbolicTrait</key>
		<string>traitMonoSpace</string>
		<key>textAlignment</key>
		<string>right</string>
	</dict>
	<key>UICTFontTextStyleBody</key>
	<integer>16</integer>
	<key>UICTFontTextStyleLink</key>
	<integer>16</integer>
	<key>UICTFontTextStyleText</key>
	<integer>16</integer>
</dict>
</plist>
