<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexMono-Bold.ttf</string>
		<string>IBMPlexMono-BoldItalic.ttf</string>
		<string>IBMPlexMono-ExtraLight.ttf</string>
		<string>IBMPlexMono-ExtraLightItalic.ttf</string>
		<string>IBMPlexMono-Italic.ttf</string>
		<string>IBMPlexMono-Light.ttf</string>
		<string>IBMPlexMono-LightItalic.ttf</string>
		<string>IBMPlexMono-Medium.ttf</string>
		<string>IBMPlexMono-MediumItalic.ttf</string>
		<string>IBMPlexMono-Regular.ttf</string>
		<string>IBMPlexMono-SemiBold.ttf</string>
		<string>IBMPlexMono-SemiBoldItalic.ttf</string>
		<string>IBMPlexMono-Text.ttf</string>
		<string>IBMPlexMono-TextItalic.ttf</string>
		<string>IBMPlexMono-Thin.ttf</string>
		<string>IBMPlexMono-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
